@*引数*@
@(CharacterProfile:siliconValley.application.characterProfile.model.CharacterProfile)(implicit session: Session, flash: Flash)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Character Characterlist</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/character.css")">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="CharacterProfilelist">
            <h1>SiliconValley</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>画像</th>
                        <th>name</th>
                        <th>full name</th>
                        <th>real name</th>
                        <th>position</th>
                        <th>skill</th>
                        <th>companyName</th>
                        <th>companyProductName</th>
                        <th>companyProductDetail</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <IMG SRC=@CharacterProfile.imageUrl ALT="テスト" WIDTH="230" HEIGHT="140">
                        </td>
                        <td>@CharacterProfile.name</td>
                        <td>@CharacterProfile.fullName</td>
                        <td>@CharacterProfile.realName</td>
                        <td>@CharacterProfile.role</td>
                        <td>@CharacterProfile.skill</td>
                        <td>@CharacterProfile.companyName</td>
                        <td>@CharacterProfile.companyProductName</td>
                        <td>@CharacterProfile.companyProductDetail</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
