@*引数*@
@(Characters: Seq[siliconValley.application.characters.model.Characters])(implicit session: Session, flash: Flash)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Character list</title>
        @*<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/remark.css")">*@
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="list">
            <h1>キャラクター一覧</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>名前</th>
                        <th>本名</th>
                        <th>役割</th>
                        <th>スキル</th>
                        <th>イメージ</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    @for( character <- Characters) {
                        <td>@character.name</td>
                        <td>@character.fullName</td>
                        <td>@character.role</td>
                        <td>@character.skill</td>
                        <td>@character.imageUrl</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>
